body{
    background: linear-gradient(rgba(0, 14, 204, 0.575),rgba(0, 14, 204, 0.575)),
    url("../media/background-pokemon.jpg");
    background-size: cover;
}

.row{
    margin-right: auto;
    margin-left: auto;
}

.card{
    padding: 10px 10px 10px 10px;
    background: rgba(177, 174, 0, 0.588);
    text-align: center;
    margin-top: 10%;
    border: solid 2px rgba(177, 174, 0, 0.588);
    border-radius: 50px 50px 50px 50px;
}

.card-pokemon{
    background: rgba(0, 177, 38, 0.588);
    border: solid 2px rgba(0, 177, 38, 0.588);
    transform: translate(50%);
}

.btn{
    margin: 4%;
}

p{
    font-size: 22px;
}